@import "tailwindcss";

@theme {
    --color-primary: #5048e5;
    --color-background-light: #f6f6f8;
    --color-background-dark: #121121;
    --font-display: "Inter", sans-serif;
    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;

    @keyframes shimmer {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(100%);
        }
    }
}

@layer base {
    body {
        @apply font-display text-slate-900 dark:text-slate-100;
    }
}